h2 {
  font-size: 4rem;
}

h3,
.artist {
  font-size: 1.2em;
}

.musicList {
  height: 100vh;
}

.play {
  padding: 14px 17px;
}

.songNumber {
  font-size: 1.2em;
}

.section-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 45%, rgba(33, 37, 41, 0.599118871181285) 100%);
  min-height: 100%;
}
