@media screen and (min-width: 769px) {
  .music-box {
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, #202020 91%);
  }

  h2 {
    font-size: 4rem;
  }

  .imgBanner {
    width: 350px;
    min-width: 200px;
  }

  .playBtn {
    background-color: #1ed760;
    &:hover {
      background-color: #ffffff;
    }
  }

  .hideDiv {
    right: 40px;
    top: 100px;
    z-index: 2;
  }

  .hideDiv2 {
    right: 180px;
  }
}

@media screen and (max-width: 769px) {
  background-color: ;
}
