.music-box {
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, #202020 91%);
}

h2 {
  font-size: 4rem;
}

.hide,
.show {
  cursor: pointer;
  background-color: #222222;
}
.hide,
.show,
.album {
  font-size: 0.7em;
}
