body {
  font-family: "Circular";
}

header {
  height: 100vh;
}

.playlists {
  height: 100vh;
}

.heart {
  background: linear-gradient(135deg, #9b5de5, #6a4bf4, #5e8ef7, #00bbf9, #00f5d4);
}

.music-box {
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(33, 37, 41, 1) 91%);
}

h2 {
  font-size: 4rem;
}

.hide,
.show {
  cursor: pointer;
}

.overflow-y-scroll::-webkit-scrollbar {
  width: 10px;
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}
.song {
  width: 50px;
}
h6 {
  font-size: 10px;
}
.subtitle {
  font-size: 9px;
}
.player {
  font-size: 30px;
}
.songTime {
  width: 200%;
}

.progress {
  height: 8px;
  background-color: #333;
}
.progress-bar {
  background-color: white;
}
.time {
  font-size: 14px;
}
