body {
  font-family: "Circular";
}

header {
  height: 100vh;
}

.playlists {
  height: 100vh;
}

.heart {
  background: linear-gradient(135deg, #9b5de5, #6a4bf4, #5e8ef7, #00bbf9, #00f5d4);
}

.music-box {
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(33, 37, 41, 1) 91%);
}

h2 {
  font-size: 4rem;
}

.hide,
.show {
  cursor: pointer;
}

.text-truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Numero di righe massimo (cambia qui per più righe) */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
