.headNav {
  position: fixed;
}

.navbar {
  height: 320px;
}
.vh100 {
  height: 100vh;
}

.playlists {
  height: 30%;
}

.heart {
  background: linear-gradient(135deg, #9b5de5, #6a4bf4, #5e8ef7, #00bbf9, #00f5d4);
}
